## module sns_ds18x20

sns_ds18x20_ID=<ID>
sns_ds18x20_TIMER=<TIMER>
sns_ds18x20_SEND_PERIOD=20000
sns_ds18x20_SEND_DELAY=500
sns_ds18x20_SEARCH_TIMEOUT=5

#OW_PIN=PD6
#OW_IN=PIND
#OW_OUT=PORTD
#OW_DDR=DDRD

## end module