# Application specific configuration file
# All parameters required by library code should be defined here
CHANNEL_COUNT=1

CHANNEL_ENABLE_NAME=0
CHANNEL_ENABLE_TYPE=0
CHANNEL_ENABLE_TYPE_NAME=0

CHANNEL_SET_SELF=1
