# Application specific configuration file
# All parameters required by library code should be defined here

# application software should not depend on the id of the physical node but for now lets do it like this
THISRGBLEDID=1 
